@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  *{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Heebo', sans-serif !important;
    /* width:70%; */
    margin: auto;
    text-shadow: 1px 0 1px rgb(221 210 255);
    /* box-shadow: 0px 0px 1px rgb(41, 29, 29); */
}
#download{
    font-size: 20px;
    /* margin: auto; */
    /* width: 5%; */
    position: fixed;
    display:flex;
    flex-direction: column;
    /* border: solid 1px blue; */
    border-radius: 15px;
    /* background-color: cyan; */
    padding: 5px 8px 4px 5px;
    align-items: center;
}

#i_download {
    font-weight: bold !important;
    font-size: 18px !important;
}
span{
    display:none;
}
.container {
    box-shadow: 0px 0px 1px rgb(41, 29, 29);
    width: 90% !important;
    margin: auto;
    padding: 0 !important;
    /* min-width:1000px; */
    margin-top: 30px;
    margin-bottom: 30px;
    
}

header{
    /* border: 1px solid RED; */
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    background-image: url('./img/top.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
    color:#333333;
}
.title-head h1{
    font-weight: bold;
    font-size:3vw;
}

.logo img{
    margin-left: 40px;
    margin-top: 20px;
    min-width: 200px;
    width: 12vw;
    height: auto;
    border-radius:50%;
    border: solid 6px blue;
}
.title{
    display: flex;
    /* border: 1px solid #e4e724; */

}
.title-head{
margin: 1%;
width:80%;
margin-left: 60px;
align-self: center;
}
.title-head h3, .title-head h5{
    font-size: 2vw;
    margin-top: 10px;
}
.title-head h3{
    font-size: 2.3vw;
    /* margin-bottom: 4px !important; */
}
.title-head h5{
    font-style: italic;
    color:#9898ff;
    font-size: 1.7vw;
}

i {
    font-weight: bolder;
    font-size: 20px;
}

.main{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.left, .right{
    padding-left:20px;
    padding-right:20px;

}
.left{
    width:50%;
}
.right{
    width:50%;
    border-left: solid 2px blue;
    /* padding-left: 36px; */
    margin-left: 0px;
}
.right2{
    width:50%;
}
ul h5{
    font-size: 16px;
    font-weight: bold;
}
em{
    color:#666666;
}
li{
    list-style:none;
    font-weight: normal;
    padding-left:10px;
}
.comp ul{
    margin: 2px 2px;

    /* display:flex; */
    /* flex-wrap:wrap; */
    /* text-align: center; */
}
.comp li{
    display: inline-block;
    border: solid 1px #9898ff;
    border-radius: 3px;
    margin: 2px 3px 2px 3px;
    padding: 1px 3px 1px 3px;

    /* padding-left: 3px;
    padding-right: 3px; */
    background-color: #eee;
}
.comp li:first-child{
    width: 100%;
}
.exp h6{
    font-size: 14px;
    font-weight: bold;
}
.trainings div ul li:first-child{
    font-size: 30px !important;
}
.trainings li:last-child{
    color: #666;
}
.skilldiv ul h5{
    margin-bottom:2px;
}
.contact i{
    padding-right:2px;
}
h2{
    background-image: url('./img/title.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-shadow:none ;
    width:97% !important;
    height:30px;
    text-align: center;
    margin-bottom: 20px !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border-radius: 4px;
    /* color:blue; */
    /* background-color:#1d1d1b; */
    color:white !important;
    font-size: 20px !important;
    font-weight: bold !important;
}



footer{
    height:85px;
    justify-content:flex-end;
    background-image: url('./img/bottom.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    text-align: center;
}
footer .social{
    margin-top: 30px;
}

i{
    
    font-weight: bold;
}
.social i{
    margin: 10px;
}
.social a{
    color :rgb(59, 25, 25);
}

@media screen and (max-width:960px) {
    .container{
        width:90% !important;
    }
}

@media screen and (max-width:760px) {
    .container{
        width:95% !important;
    }
    .logo img{
        margin-left: 0;
    }
    .title-head{
        margin:0 !important;
        margin-left: 0px !important;
    }
    .title-head h1{
        font-size:30px !important;
        width:100% !important;
        
    }
    .title-head h3{
        font-size:25px !important;
    }
   .title-head h5{
        font-size:20px !important;
  
    }
    .title{
        flex-direction: column ;
        align-items:center ;
        text-align: center;
    }

    h2{
        width: 80% !important;
        height:1.3em;
        font-size: 23px !important;
    }
    .main{
        display: block;
        /* font-size:30px; */

    }
    .left, .right{
        border:none;
        width: 100%;
    }
    .comp{
        width: 100%;
    }
    .left{
        order:2;
    }
    
   
    .contactdiv{
        margin-bottom:solid 1px blue; ;
    }
    /* .contactdiv i {
        font-size:40px !important;
        padding-left: 20px;
        padding-right: 20px;
    } */

    /* ul{
        display:flex;
    } */
    ul li{
        font-size:20px;
    }
    /* .comp li{
        display: inline-block;
        border: solid 1px blue;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
    } */
    ul h5{
        font-size:20px;
        font-weight:bold;
    }
   
    .exp h6{
        font-size: 16px;
        font-weight: bold;
    }
}


@media screen and (min-width:1170px) {
    .container{
        width:70% !important;
        
    }
    span{
        display: block;
    }
}

@media print {

    body{
        margin-top:10px !important;
    }
    .container{
        font-family: Inter, sans-serif;
        width: 100% !important;
        margin-top: 0;
        margin-bottom: 0;
    }
    .title{
        height:120px;
    }
    .logo img{
        min-width: 120px;
        }
        .social{
            display: none;
        }
    h2{
        color:blue !important;
        margin-bottom: 0 !important;
    }
    a[href]:after {
        content: none !important;
    }
    .left{
        width:48%;
    }
    .right{
        width:52%;
    }

    #download{
        display: none;
    }
    footer{
        height:60px;
    }

    .title-head h5{
        color:#9898ff;
    }
}
.contact.right, .contact.left{
    width:100% !important;
}